@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #ffffff;
}

input {
    padding: 1px 2px;
    display: flex;
    flex-direction: column;
}

#checkbox-group{
    display: grid;
    padding: 60px;
    grid-template-columns: repeat(3,90px);
    grid-template-rows: repeat(2,150px);
}

.footer{
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgb(235, 195, 64);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }