@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #ffffff;
}

input {
    padding: 1px 2px;
    display: flex;
    flex-direction: column;
}

#checkbox-group{
    display:grid;
    padding: 60px;
    grid-template-columns: repeat(3,120px);
    grid-template-rows: repeat(3,170px);
}

